

@font-face {
  font-family: deen;
  src: url(../fonts/CHEESEBU.woff);
}




.t1 {
    font-family: deen;
    color: #4b3335;
    font-size: 46px;
}













.bg-info {
    background-color: #814494 !important;
}
.parent {
	width: 100%;
	max-width: 721px;
	margin: auto;
	clear: left;
}




.parent2 {
	width: 100%;
	max-width: 721px;
	margin: auto;
	
}



.parent-3 {
    width: 100%;
    max-width: 1220px;
    margin: auto;
    clear: left;
}


.anc-schedule {
    list-style: none;
    /* background-position: left; */
    background-image: url(img/surya-wings.png);
    background-repeat: no-repeat;
    padding: 0 0 0 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    line-height: 31px;
}

.text-info {
    color: #8f3cb8 !important;
}


#main-content {
	
	display: block;
	clear: left;
	float: left;
	height: auto;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}



.footer {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
    background-color: #dedede;
}









#parent-footer {
    display: flex;
    padding-top: 25px;
    border-top-width: medium;
    border-top-style: 3;
    text-align: center;
    background-color: #dedede;
    color: #2c2b2a;
    border-top: 3px solid #c52025;
}
.item { flex:2;
	
}


.item-1 {
	flex: 2;
	
}



.text-primary {
    color: #df265d!important;
}



.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}











#parent-footer {
    display: flex;
    padding-top: 25px;
    border-top-width: medium;
    border-top-style: 3;
    text-align: center;
    background-color: #dedede;
    color: #2c2b2a;
    border-top: 3px solid #c52025;
}
.item { flex:1;
	
}


.item-1 {
	flex: 1;
	
}



























/*media query for footer*/


@media (min-width: 320px) and (max-width: 500px) {
  
 .media {flex-direction: column; 
	}
	
#parent-footer {flex-direction: column;
	}
	 }


#icon1 {
	-webkit-transition: all 100ms ease-in 0.5s;
	-moz-transition: all 100ms ease-in 0.5s;
	-ms-transition: all 100ms ease-in 0.5s;
	-o-transition: all 100ms ease-in 0.5s;
	transition: all 100ms ease-in 0.5s;
}
#icon1:hover {
	background-color: #F90;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}














/*media query for footer*/


@media (min-width: 320px) and (max-width: 500px) {
  
 .media {flex-direction: column; 
	}
	
#parent-footer {flex-direction: column;
	}
	 }



	 /*media query for footer*/


@media (min-width: 320px) and (max-width: 550px) {
  

.text-muted {
    text-align: center ! important;
    color: #777;
}







	

	}
	 }